@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: NanumGothicCoding;
}

@font-face {
  font-family: NanumGothicCoding;
  src: url("../../public/NanumGothicCoding-Regular.ttf");
}
